.hero {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 198px);
}

.carrousel {
  display: flex;
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 25px;
  margin-bottom: 2rem;
}

.header {
  display: flex;
  color: var(--primary-color);
  justify-content: space-between;
}

.leftHeader {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.title {
  font-weight: 500;
  font-size: 36px;
}
.secondTitle {
  font-size: 18px;
  font-weight: 500;
}

.tags {
  display: flex;
  color: #ffffff;
  margin-block: 1rem;
}

.tag {
  display: flex;
  background-color: var(--primary-color);
  border-radius: 10px;
  font-size: 14px;
  margin-right: 0.5rem;
  padding-inline: 0.5rem;
  min-width: 115px;
  height: 25px;
  align-items: center;
  justify-content: center;
}

.rightHeader {
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}

.names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
  font-size: 18px;
  font-weight: 500;
}

.picture {
  display: flex;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
}

.picture > img {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
  object-position: center;
}

.ratings {
  display: flex;
  margin-top: 1rem;
  gap: 0.2rem;
}

.dropdowns {
  display: flex;
  justify-content: space-between;
  gap: 4.5rem;
}

@media screen and (max-width: 375px) {
  .dropdowns {
    flex-direction: column;
    gap: 0;
  }
  .carrousel {
    display: flex;
    position: relative;
    width: 100%;
    height: 255px;
    border-radius: 25px;
    margin-bottom: 2rem;
  }

  .header {
    flex-direction: column;
  }

  .leftHeader,
  .rightHeader {
    width: 100%;
  }

  .rightHeader {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  .title {
    font-size: 18px;
  }

  .secondTitle {
    font-size: 14px;
  }
  .tag {
    font-size: 10px;
    min-width: 84px;
  }

  .picture {
    width: 32px;
    height: 32px;
  }

  .names {
    font-size: 12px;
  }

  .ratings > img {
    width: 15px;
    height: 15px;
  }
}
