.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 198px);
  align-items: center;
  justify-content: flex-start;
  color: var(--primary-color);
  padding-inline: 10vw;
}
.title {
  font-size: 288px;
  font-weight: 700;
}

.secondTitle {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 15vh;
  text-align: center;
}

.link {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 18px;
  text-decoration: underline;
}

@media screen and (max-width: 375px) {
  .title {
    margin-top: 10vh;
    font-size: 96px;
  }
  .secondTitle {
    font-size: 18px;
  }
  .link {
    font-size: 14px;
  }
}
